{% extends 'base.html' %}
{% block page_id %}page5{% endblock %}
{% block menu %}
<ul id="menu">
    <li><a href="/"><span><span>Home</span></span></a></li>
    <li><a href="Features"><span><span>Features</span></span></a></li>
    <li class="nav3"><a href="Support"><span><span>Support</span></span></a></li>
    <li class="nav4"><a href="Downloads"><span><span>Downloads</span></span></a></li>
    <li id="menu_active" class="nav5"><a href="Contacts"><span><span>Contacts</span></span></a></li>
</ul>
{% endblock %}
{% block content %}
    <article id="content">
			<section class="col1">
				<h2 class="pad_bot1">Miscellaneous</h2>
				<p class="pad_top1 pad_bot1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan- tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot1">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conse- quuntur magni dolores eos qui ratione volupta- tem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, con- sectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				Ut enim ad minima veniam, quis nostrum exerci- tationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil.
			</section>
			<section class="col2">
				<h2 class="pad_bot1">Contact Form</h2>
				<form id="ContactForm">
					<div>
						<div  class="wrapper">
							<span>Your Name:</span>
							<div class="bg"><input type="text" class="input" /></div>
						</div>
						<div  class="wrapper">
							<span>Your E-mail:</span>
							<div class="bg"><input type="text" class="input" ></div>
						</div>
						<div  class="textarea_box">
							<span>Your Message:</span>
								<div class="bg"><textarea name="textarea" cols="1" rows="1"></textarea></div>
						</div>
						<a href="#" class="button" onClick="document.getElementById('ContactForm').submit()">Send</a>
						<a href="#" class="button" onClick="document.getElementById('ContactForm').reset()">Clear</a>
					</div>
				</form>
            </section>
		</article>
	</div>
</div>
{% endblock %}