{% extends 'base.html' %}
{% block page_id %}page2{% endblock %}
<title>{% block title %}Features{% endblock %}</title>
{% block menu %}
<ul id="menu">
    <li><a href="/"><span><span>Home</span></span></a></li>
    <li id="menu_active"><a href="Features"><span><span>Features</span></span></a></li>
    <li class="nav3"><a href="Support"><span><span>Support</span></span></a></li>
    <li class="nav4"><a href="Downloads"><span><span>Downloads</span></span></a></li>
    <li class="nav5"><a href="Contacts"><span><span>Contacts</span></span></a></li>
</ul>
{% endblock %}
{% block content %}
    <article id="content">
        <section class="col1">
            <h2>Top Features</h2>
            <ul class="list2">
                <li><a href="#">Nam libero tempore csoluta nobis</a></li>
                <li><a href="#">Eieligendi opto cumque nihil impedit quo</a></li>
                <li><a href="#">Minus id quod maxime placeat facere</a></li>
                <li><a href="#">Possimus omnis voluptas assumenda est</a></li>
                <li><a href="#">Omnis dolor repellendus</a></li>
                <li><a href="#">Temporibus autem quibusdam etaut</a></li>
                <li><a href="#">Officiis debitis aut rerum necessitatibus</a></li>
                <li><a href="#">Saepe eveniet ut et voluptates</a></li>
                <li><a href="#">Repudiandae sint et molestiae non</a></li>
                <li><a href="#">Eecusandae itaque earum rerum</a></li>
                <li><a href="#">Hic tenetur a sapiente delectus utaut</a></li>
                <li><a href="#">Reiciendis voluptatibus maiores</a></li>
                <li><a href="#">Alias consequatur aut perferendis doloribus</a></li>
            </ul>
        </section>
        <section class="col2">
            <h2 class="pad_bot1">Features Overview</h2>
            <div class="wrapper pad_top1 pad_bot1">
                <div class="cols">
                    <div class="wrapper pad_bot3">
                        <figure><img src="{{ url_for('static', filename='images/page2_img1.jpg') }}" alt=""></figure>
                        <div class="left">
                            <p class="pad_bot1"><strong class="color1">Multicore optimized</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <figure><img src="{{ url_for('static', filename='images/page2_img2.jpg') }}" alt=""></figure>
                        <div class="left">
                            <p class="pad_bot1"><strong class="color1">Multiple languages</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="cols pad_left1">
                    <div class="wrapper pad_bot3">
                        <figure><img src="{{ url_for('static', filename='images/page2_img3.jpg') }}" alt=""></figure>
                        <div class="left">
                            <p class="pad_bot1"><strong class="color1">Ready for latest OS</strong></p>
                            <p>Quis nostrud exerctation ullamco laboris nisi ut aliquip ex commod consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <figure><img src="{{ url_for('static', filename='images/page2_img4.jpg') }}" alt=""></figure>
                        <div class="left">
                            <p class="pad_bot1"><strong class="color1">Multiple languages</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="button right">More</a>
        </section>
    </article>
</div>
</div>
{% endblock %}
